#_checkbox {
    /* display: none; */
}

label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    -webkit-transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    -moz-transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    -ms-transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    -o-transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.2s ease width, 0.2s ease height;
    ;
    -webkit-transition: 0.2s ease width, 0.2s ease heigh;
    -moz-transition: 0.2s ease width, 0.2s ease heigh;
    -ms-transition: 0.2s ease width, 0.2s ease heigh;
    -o-transition: 0.2s ease width, 0.2s ease heigh;
}

label:hover::before {
    width: 55px;
    height: 55px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

label:active {
    transform: translateY(-50%) scale(0.9);
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
}

#tick_mark {
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
    -webkit-transform: rotateZ(-40deg);
    -moz-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    -o-transform: rotateZ(-40deg);
}

#tick_mark::before,
#tick_mark::after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
    -webkit-transition: 0.2s ease transform, 0.2s ease opacity;
    -moz-transition: 0.2s ease transform, 0.2s ease opacity;
    -ms-transition: 0.2s ease transform, 0.2s ease opacity;
    -o-transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark::before {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-68px);
    -webkit-transform: translateY(-68px);
    -moz-transform: translateY(-68px);
    -ms-transform: translateY(-68px);
    -o-transform: translateY(-68px);
}

#tick_mark::after {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-78px);
    -webkit-transform: translateY(-78px);
    -moz-transform: translateY(-78px);
    -ms-transform: translateY(-78px);
    -o-transform: translateY(-78px);
}

#_checkbox:checked+label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

#_checkbox:checked+label::before {
    width: 0;
    height: 0;
}

#_checkbox:checked+label #tick_mark::before,
#_checkbox:checked+label #tick_mark::after {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    opacity: 1;
}